// main: ../main.scss
@mixin border-radius {
	border-radius: 0.5em;
}

@mixin box-shadow {
	box-shadow: 0 0 0.2em color('secondary-bright');
}

@mixin clearfix-after {
	&::after {
		content: '';
		display: table;
		clear: both;
    }
}

@mixin clearfix-before {
	&::before {
		content: '';
		display: table;
		clear: both;
    }
}
