/* utils */
/* base */
* {
	box-sizing: border-box;
}

body {
	max-width: 30em;
	margin: 0 auto;
	text-align: center;
	background-color: #0078AC;
}

body {
	color: #F3F2E7;
	font-family: 'Lato', sans-serif;
}

.italic {
	font-style: italic;
}

/* layout */
.primary-footer::before {
	content: '';
	display: table;
	clear: both;
}

/* modules */
.button {
	padding: 0.5rem;
	margin-top: 0.5rem;
	border: 1px solid #0078AC;
	border-radius: 0.5em;
	color: #0078AC;
	cursor: pointer;
}

.box {
	flex-basis: 100%;
	flex-grow: 1;
	padding: 1rem;
	margin: 0.5rem;
	color: #0A465F;
	background-color: #F3F2E7;
	border-radius: 0.5em;
	box-shadow: 0 0 0.2em #F3F2E7;
}

.box__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box--half {
	flex-basis: calc(50% - 2 * 0.5rem);
}

.wi {
	color: #0078AC;
	font-size: 4em;
	margin-bottom: 0.5rem;
}
